{% extends './header.html' %}
{% block content %}

<form id="raiseorderform" name="raiseorderform" method="POST" action="dashboard_foodseeker.html">
	{% csrf_token %}
	<div id="error_total" class="error_divs"></div>
  <div class="mb-3 form-check">
    <input type="checkbox" class="form-check-input" id="veg" name="veg" onclick="toggleDisableEnableVeg()">
    <label class="form-check-label" for="veg" >Veg</label>
    <div id="error_veg" class="error_divs"></div>
  </div>
  <div class=" row mb-3">
	<label class="form-label in">Number of food packets for</label><br>
	  <label for="veg_healthy" class="col-sm-2 col-form-label morein">Healthy</label>
	  <div class="col-sm-8">
	    <input type="number" class="form-control " id="veg_healthy" min="1" name="veg_healthy" disabled >
	  </div>
	  <br><br>
	  <label for="veg_ill" class="col-sm-2 col-form-label morein">Ill</label>
	  <div class="col-sm-8">
	    <input type="number" class="form-control " id="veg_ill" min="1" name="veg_ill" disabled>
  	  </div>
	</div>
 <div class="mb-3 form-check">
    <input type="checkbox" class="form-check-input" id="nonveg" name="nonveg" onclick="toggleDisableEnableNonVeg()">
    <label class="form-check-label" for="nonveg">Non-Veg</label>
    <div id="error_nonveg" class="error_divs"></div>
  </div>
  <div class=" row mb-3">
	<label class="form-label in">Number of food packets for</label><br>
	  <label for="nonveg_healthy" class="col-sm-2 col-form-label morein">Healthy</label>
	  <div class="col-sm-8">
	    <input type="number" class="form-control " id="nonveg_healthy" min="1" name="nonveg_healthy" disabled>
	  </div>
	  <br><br>
	  <label for="nonveg_ill" class="col-sm-2 col-form-label morein">Ill</label>
	  <div class="col-sm-8">
	    <input type="number" class="form-control " id="nonveg_ill" min="1" name="nonveg_ill" disabled>
	  </div>
	</div>
  <div class="mb-3">
  	<label for="allergy" class="form-label">Allergic to foods(if any)</label>
  	<input type="text" id="allergy" class="form-control inp2" name="allergy" >
  </div>
  <div>
  	<label for="delivery_address" class="form-label">Delivery address</label>
	  <select name="delivery_address" id="delivery_address" class="form-control inp2" name="delivery_address">
	  	{% for addr in Addresses %}
				<option>{{ addr.address }}  </option>
			{% endfor %}
	  </select>
  </div>
  <button type="button" id="post_order" class="btn btn-lg btn-success " onclick="submitForm()">Post Order</button>
</form>



<script type="text/javascript">

	function toggleDisableEnableVeg(){
		if (document.getElementById("veg_healthy").disabled) {
	        document.getElementById("veg_healthy").disabled = false;
	    }
	    else {
	        document.getElementById("veg_healthy").disabled = true;
	        document.getElementById("veg_healthy").value="";
	    }
	    if (document.getElementById("veg_ill").disabled) {
	        document.getElementById("veg_ill").disabled = false;
	    }
	    else {
	        document.getElementById("veg_ill").disabled = true;
	        document.getElementById("veg_ill").value="";
	    }
	}

	function toggleDisableEnableNonVeg(){
	    if (document.getElementById("nonveg_healthy").disabled) {
	        document.getElementById("nonveg_healthy").disabled = false;
	    }
	    else {
	        document.getElementById("nonveg_healthy").disabled = true;
	        document.getElementById("nonveg_healthy").value="";
	    }
	    if (document.getElementById("nonveg_ill").disabled) {
	        document.getElementById("nonveg_ill").disabled = false;
	    }
	    else {
	        document.getElementById("nonveg_ill").disabled = true;
	        document.getElementById("nonveg_ill").value="";
	    }
	}

	function submitForm() {
		var error="";
		if(document.getElementById('veg').checked){
			if(document.getElementById('veg_healthy').value + document.getElementById('veg_ill').value <1)
				error="Checkbox for veg is selected but no. of packets is 0.";
				document.getElementById('error_veg').innerHTML=error;
				document.getElementById('error_veg').style.display='block';
		}
		else
			document.getElementById('error_veg').style.display='none';

		if(document.getElementById('nonveg').checked){
			if(document.getElementById('nonveg_healthy').value + document.getElementById('nonveg_ill').value <1)
				error="Checkbox for non-veg is selected but no. of packets is 0.";
				document.getElementById('error_nonveg').innerHTML=error;
				document.getElementById('error_nonveg').style.display='block';
		}
		else
			document.getElementById('error_nonveg').style.display='none';
		

		if(!document.getElementById('veg').checked && !document.getElementById('nonveg').checked){
					error = "Total number of food packets is 0."
					document.getElementById('error_total').innerHTML=error;
					document.getElementById('error_total').style.display='block';
				}
		else
			document.getElementById('error_total').style.display='none';

//		alert(error)
		if (error =="")
		{
			document.raiseorderform.submit();
		}
	
	}

</script>


{% endblock %}